.hero {
  height: calc(100dvh - 40px);
  width: calc(100% + 12px);
  background-color: #7C1E22;
  background-image:
  radial-gradient(at 85% 15%, #FFA700 0px, transparent 60%),
  radial-gradient(at 50% 10%, var(--primary-orange) 0px, transparent 70%),
  radial-gradient(at 100% 60%, #631412 0px, transparent 50%),
  radial-gradient(at 10% 40%, #7C1E22 0px, transparent 50%);
  background-blend-mode: lighten;
  border-radius: 20px 20px 20px 20px;
  position: relative;
}

.hero img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
}

.text-content {
  padding: 100px;
  padding-top: 10rem;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}

.text-content h1 {
  font-weight: var(--extra-bold); /*extra bold*/
  font-size: 3.4rem;
  line-height: 3.6rem;
  letter-spacing: 0.4rem;
  margin-top: 20px;
}

.text-content .link-button:first-of-type {
  margin-left: 4.3rem;
}

.text-content .link-button:last-of-type {
  margin-left: 11rem;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  position: absolute;
  bottom: 80px;
}

.socials i {
  font-size: 1.6rem;
  color: white;
  text-align: center;
}

.social-arrow {
  width: 1.1rem;
  height: 1.1rem;
  stroke: #631412;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
}


@media (max-width: 768px) {
  .hero {
    background-image:
      radial-gradient(at 85% 15%, var(--primary-orange) 0px, transparent 60%),
      radial-gradient(at 50% 10%, var(--primary-orange) 0px, transparent 70%),
      radial-gradient(at 100% 60%, #631412 0px, transparent 50%),
      radial-gradient(at 10% 40%, #7C1E22 0px, transparent 50%);
  }

  .hero {
    width: 100%;
  }

  .hero img {
    display: none;
  }
}

@media (max-width: 1100px) {
  .hero img {
    right: -150px;
  }
}