.hero {
  height: calc(100dvh - 40px);
  width: 100%;
  background-color: #7C1E22;
  background-image:
    radial-gradient(at 85% 15%, #FFA700 0px, transparent 60%),
    radial-gradient(at 50% 10%, var(--primary-orange) 0px, transparent 70%),
    radial-gradient(at 100% 60%, #631412 0px, transparent 50%),
    radial-gradient(at 10% 40%, #7C1E22 0px, transparent 50%);
  background-blend-mode: lighten;
  background-size: 120% 120%;
  border-radius: 20px;
  position: relative;

  animation: gradientFloat 5s ease-in-out infinite;
}

@keyframes gradientFloat {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 20% 40%;
  }
  100% {
    background-position: 0% 0%;
  }
}


.hero img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
}

.text-content {
  padding: 100px;
  padding-top: 10rem;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}

.text-content h1 {
  font-weight: var(--extra-bold); /*extra bold*/
  font-size: 3.4rem;
  line-height: 3.6rem;
  letter-spacing: 0.4rem;
  margin-top: 20px;
  text-transform: uppercase;
}

.text-content .link-button:first-of-type {
  margin-left: 4.3rem;
}

.text-content .link-button:last-of-type {
  margin-left: 11rem;
}

.socials div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  position: absolute;
  bottom: 78px;
}

.socials div:nth-of-type(2) p:not(:last-of-type) {
  display: none;
}

.socials i {
  font-size: 1.6rem;
  color: white;
  text-align: left;
  width: 80px;
  transition: ease-in-out;
  transition-duration: 0.15s;
}

.socials i:hover {
  color: var(--primary-orange);
  transition: ease-in-out;
  transition-duration: 0.15s;
}

.socials a {
  margin: 0;
  padding: 0;
  z-index: 50;
}

.social-arrow {
  width: 1.1rem;
  height: 1.1rem;
  stroke: #631412;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  transition: ease-in-out;
  transition-duration: 0.15s;
}

.download:hover .social-arrow{
  background-color: var(--primary-orange);
  transition: ease-in-out;
  transition-duration: 0.15s;
}

.download:hover span {
  color: var(--primary-orange);
  transition: ease-in-out;
  transition-duration: 0.15s;
}

.download {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: white;
  width: 80px;
}

.blob {
  width: 350px;
  color: var(--background-color);
  position: absolute;
  bottom: -19px;
  left: 50%;
  transform: translateX(-50%);
}

.scrollblob p {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
}

.scrollblob .arrows {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
}

.scrollblob a {
  color: white;
  transition: ease-in-out;
  transition-duration: 0.25s;
}

.scrollblob a:hover {
  color: lightgray;
  transition: ease-in-out;
  transition-duration: 0.25s;
}


@media (prefers-color-scheme: dark) {
  .blob {
    color: Canvas;   /* probeert te matchen met geforceerde zwart */
  }
}

/* Als je forced colors actief is (werkt op sommige browsers) */
@media (forced-colors: active) {
  .blob {
    color: Canvas;
    forced-color-adjust: auto;  /* of none als je eigen kleur wilt forceren */
  }
}




@media (max-width: 1350px) {
  .hero img:first-of-type {
    object-position: left;
    width: 50%;
    object-fit: cover;
  }
}

@media (max-width: 1150px) {
  .hero img:first-of-type {
    display: none;
  }

  .hero {
    height: 75dvh;
  }

  .text-content h1 {
    font-size: 2.8rem;
    line-height: 3rem;
    margin-top: 16px;
  }

  .text-content {
    padding: 100px;
    padding-top: 8rem;
  }

  .text-content .link-button:first-of-type {
    margin-left: 0;
  }

  .text-content .link-button:last-of-type {
    margin-left: 0;
  }

  .buttons {
    display: flex;
    gap: 30px;
  }
}

@media (max-width: 1150px) and (min-height: 1150px) {
  .hero {
    height: 50dvh;
  }
}

@media (max-height: 740px) {
  .text-content .link-button:first-of-type {
    display: none;
  }

  .text-content .link-button:last-of-type {
    display: none;
  }
}

@media (max-width: 668px) {
  .blob {
    height: 80px;
  }

  .scrollblob p {
    bottom: 28px;
    font-size: 0.6rem;
  }

  .scrollblob .arrows {
    bottom: -10px;
  }

  .buttons {
    display: block;
  }

  .hero {
    width: 100%;
    height: 80dvh;
  }
  
  .text-content h1 {
    font-size: 1.8rem;
    line-height: 2rem;
    margin-top: 16px;
    margin-bottom: 36px;
  }

  .text-content {
    font-size: 1rem;
    padding: 30px;
    padding-top: 6.8rem;
  }

  .socials div:first-of-type {
    bottom: 30px;
  }

  .socials div:nth-of-type(2) {
    bottom: 33px;
  }
}