/*ALGEMEEN*/
/*========*/
div.content-body {
  padding: 100px;
}

div.content-body.ervaring {
  background-color: var(--reg-gray);
  border-radius: 20px;
}

h4, h2 {
  text-align: center;
  margin: 0;
  letter-spacing: 0.1rem;
}

h4 {
  color: var(--primary-orange);
  font-weight: 500;
  margin-bottom: 0.8rem;
  padding-top: 30px;
}

h2 {
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

.me p {
  color: var(--text-color);
  margin-top: 2rem;
  line-height: 2rem;
}

.maxwidthcontent {
  width: 50rem;
  margin: 0 auto;
  text-align: center;
}

.maxwidthcontent img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: bottom;
  border-radius: 20px;
  margin-top: 3rem;
}

/*ERVARING*/
/*========*/
div.content-body.ervaring h4, div.content-body.ervaring h2 {
  text-align: left;
}

div.content-body.ervaring .title-buttons {
  margin-bottom: 4rem;
}

div.content-body.ervaring .studie {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  letter-spacing: 0.05rem;
  line-height: 2rem;
}

div.content-body.ervaring h4 {
  padding-top: 0px;
}

div.content-body.ervaring h2 {
  margin-bottom: 0px;
}

div.content-body.ervaring .studie p:nth-of-type(4) {
  line-height: 2rem;
}

div.title-buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.title-buttons > div:nth-child(2) {
  display: flex;
  gap: 10px;
}

button {
  background-color: var(--primary-orange);
  color: var(--background-color);
  border: 2px solid var(--primary-orange);
  border-radius: 16px;
  padding: 0.8rem;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  font-weight: 800;
}

button:hover {
  cursor: pointer;
  background-color: #FFA401;
  border-color: #FFA401;
}

button.inactive {
  background-color: var(--reg-gray);
  color: var(--primary-orange);
  border-color: var(--primary-orange);
}

button.inactive:hover {
  background-color: var(--primary-orange);
  color: var(--background-color);
}

/*VAARDIGHEDEN*/
/*============*/

.skills {
  padding-bottom: 3rem !important;
}

.vaardigheden h3 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  text-align: left;
}

.vaardigheid-chip {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--primary-orange);
  width: fit-content;
  padding: 10px;
  border-radius: 0.6rem;
  color: var(--background-color);
  font-weight: bold;
  letter-spacing: 0.05rem;
  margin-bottom: 5px;
}

.skill-icon {
  height: 20px;
  fill: var(--background-color);
}

.vaardigheden-lijst {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.vaardigheid-groep { 
  margin-bottom: 3rem;
}

/*PROJECTEN*/
/*=========*/

.content-body.projecten {
  padding-top: 0px;
}

.content-body.projecten h4, .content-body.projecten h2 {
  text-align: left;
}

.projectgrid {
  width: 100%;
  height: 90dvh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  grid-template-areas:
    "A A B"
    "A A C"
    "D E F";
}

.project-item {
  position: relative;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  inset: 0;
  background-color: var(--primary-orange);
  transform-origin: bottom;
  pointer-events: none;
  color: var(--background-color);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 2rem 1.5rem 2rem;
}

.project-overlay .talen {
  position: absolute;
  bottom: 0.5rem;
  right: 3rem;
  font-style: italic;
}

p.team a {
  font-style: italic;
  color: var(--background-color);
  pointer-events: auto;
}

.project-overlay a.direct {
  pointer-events: auto;
  color: var(--primary-orange);
  position: absolute;
  padding: 16px;
  padding-bottom: 12px;
  background-color: var(--background-color);
  bottom: 0;
  left: 3rem;
  border-radius: 20px 20px 0 0;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.project-overlay a:hover {
  color: white;
  transition: color 0.3s ease;
}

.project-overlay a i {
  margin-right: 5px;
}

.project-overlay p {
  line-height: 2rem;
  font-size: 1rem;
}

.project-overlay p:first-of-type {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/*CONTACT REFERAL*/
/*===============*/

.maxwidthcontent {
  position: relative;
}

.contactref p {
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3.4rem;
  text-align: left;
  letter-spacing: 0.1rem;
}

.contactref .link-button {
  position: absolute;
  bottom: -2px;
  left: 73%;
}

/*RESPONSIVE*/
/*==========*/
@media (max-width: 1150px) {
  .projectgrid {
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "A B"
      "C D"
      "E F";
  }

  .contactref p {
    font-size: 2.8rem;
  }

  .contactref .link-button {
    position: static;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .maxwidthcontent {
    width: 100%;
  }

  div.content-body {
    padding: 80px;
  }

  div.content-body.ervaring .studie, div.content-body.ervaring .werkervaring {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-overlay .talen {
    bottom: 4rem;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
  }

  .project-overlay a.direct {
    bottom: 0;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
  }

  .project-overlay p, .project-overlay a.direct {
    font-size: 0.9rem;
  }

  .projectgrid > div {
    height: 22rem;
  }

  .contactref .link-button {
    bottom: -24px;
    left: 60%;
  }
}

@media (max-width: 668px) {
  .projectgrid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: fit-content;
    grid-template-areas:
      "A"
      "B"
      "C"
      "D"
      "E"
      "F";
  }

  .contactref p {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .projectgrid > div {
    height: 25rem;
  }

  div.title-buttons {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }

  div.content-body.ervaring .studie, div.content-body.ervaring .werkervaring {
    grid-template-columns: repeat(1, 1fr);
  }

  div.content-body.ervaring {
    padding-top: 50px;
  }

  div.content-body {
    padding: 70px 30px;
  }

  .maxwidthcontent {
    width: 100%;
  }

  .maxwidthcontent img{
    height: 200px;
  }
}