.contactbg {
  min-height: calc(100dvh - 40px);
  width: 100%;
  background-color: #7C1E22;
  background-image:
    radial-gradient(at 85% 15%, #FFA700 0px, transparent 60%),
    radial-gradient(at 50% 10%, var(--primary-orange) 0px, transparent 70%),
    radial-gradient(at 100% 60%, #631412 0px, transparent 50%),
    radial-gradient(at 10% 40%, #7C1E22 0px, transparent 50%);
  background-blend-mode: lighten;
  background-size: 120% 120%;
  border-radius: 20px;
  position: relative;

  animation: gradientFloat 5s ease-in-out infinite;
}

@keyframes gradientFloat {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 20% 40%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.contactbg .textsocials {
  padding: 100px;
  padding-bottom: 0px;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  width: 100%;  
  display: flex;
  gap: 30px;
  height: calc(100% - 10rem - 100px);
}

.contactbg .textsocials div.contactdata {
  width: 40%;
}
.contactbg .textsocials div.form {
  width: 60%;
}

.contactbg .textsocials h1 {
  font-weight: var(--extra-bold); /*extra bold*/
  font-size: 3.4rem;
  line-height: 3.6rem;
  letter-spacing: 0.4rem;
  margin-top: 20px;
  text-transform: uppercase;
}

.contactbg .socialscontact i {
  width: auto;
  margin-right: 10px;
}

.contactbg .socialscontact a {
  color: white;
  transform-origin: center left;
}

.contactbg .socialscontact a:hover {
  color: var(--primary-orange);
}

.contactdata {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}

.contactdata .socialscontact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  margin-top: 4rem;
}


/* FORM */
/* ==== */

form {
  background-color: var(--background-color);
  width: calc(70% - 80px);
  border-radius: 20px;
  padding: 40px;
}

form > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.error {
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  color: red;
}

/* input en textarea full width */
form input,
form textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 10px;
  background-color: var(--background-color);
  font-family: "Inter", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  border: 2px solid #505050;
  outline: none;
}

form input:focus, form textarea:focus {
  border-color: var(--primary-orange);
}

form label {
  font-weight: bold;
  font-size: 0.8rem;
  color: var(--primary-orange);
}

/* optioneel: button ook full width */
form button {
}/*

form button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
} */