:root {
  --primary-orange: #FF5400;   /* Oranje */
  --background-color: #141412; /* Achtergrondkleur */
  --text-color: #B7CAD4;       /* Tekstkleur */
  --reg-gray: #181818;
  --lighter-gray: #8b989e;

  --extra-bold: 800;
  --regular: 400;

  color-scheme: light dark;
}

html, body, p {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: white;
  font-family: "Inter", sans-serif;
}

.outside {
  border-radius: 20px;
  height: calc(100dvh - 40px);
  margin: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  z-index: 50;
  overflow: hidden;
}

.frame {
  background-color: var(--background-color);
  border-radius: 20px;
  margin: 20px;
  padding: 0;
  width: calc(100% - 40px);
  height: calc(100dvh - 40px);
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.website-content {
  flex: 1;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  /* Firefox */
  scrollbar-width: thin;          /* dunne scrollbar */
  scrollbar-color: transparent transparent;
  -webkit-overflow-scrolling: touch;
}

/* Chrome, Safari, Edge */
.website-content::-webkit-scrollbar {
  width: 8px;
}

.website-content::-webkit-scrollbar-track {
  background: transparent;
}

.website-content::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
}

/* Scroll */
/* ====== */

.scroll-indicator {
  position: fixed;
  top: 0;
  right: 0px;
  width: 4px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  z-index: 9999;
}

.scroll-indicator__bar {
  width: 100%;
  height: 0%;
  background: var(--primary-orange);
  border-radius: 2px;
  transform-origin: top;
}

.scroll-indicator {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.scroll-indicator:hover {
  opacity: 1;
}


/* Button */
/* ====== */

.link-button {
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 2px white solid;
  width: fit-content;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.link-button span {
  padding-top: 6px;
}

/* FOOTER */
/* ====== */

footer {
  display: flex;
  line-height: 2rem;
  margin-top: 3rem;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  border-top: 2px solid var(--lighter-gray);
  flex-wrap: wrap;
  gap: 20px;
}

footer p, footer a {
  color: var(--lighter-gray);
  transition: color 0.3s ease;
  text-decoration: none;
  font-size: 0.9rem;
}

footer a:hover {
  color: white;
  transition: color 0.3s ease;
}

footer div {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer a i {
  font-size: 1.4rem; /* bijvoorbeeld 32px */
}

footer a:first-of-type {
  margin-right: 5px;
}


/* NOTFOUND */
/* ======== */

.notfound {
  padding: 100px;
  background-color: rgb(30, 30, 30);
  height: calc(100dvh - 240px);
}

/* Pre loader */
/* ========== */

.preloader {
  border: 2px solid var(--primary-orange);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.orangify {
  color: var(--primary-orange);
}

.counter {
  font-size: 20rem;
  font-weight: var(--extra-bold);
  position: absolute;
  bottom: 0;
  right: 20px;
  height: 22rem;
  overflow: hidden;
}

.dot {
  margin-left: -1rem;
}

.preloader p:first-of-type {
  color: var(--primary-orange);
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.preloader span{
  font-weight: 400;
}

.preloader p:nth-of-type(2) {
  font-weight: var(--extra-bold); /*extra bold*/
  font-size: 3rem;
  line-height: 3.2rem;
  letter-spacing: 0.4rem;
}

.orangebox {
  background-color: var(--primary-orange);
  position: absolute;
  bottom: 0;
  height: 0;
  width: 100%;
  z-index: 800;
}

/*Loading bar*/

.loading-bar-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: 6px;
  border-radius: 5px;
  overflow: hidden;
}

.loading-bar {
  height: 100%;
  background-color: var(--primary-orange);
  border-radius: 5px;
  transition: width 0.02s ease-in-out;
}

/* SUMMATION COMPONENT */
/* =================== */

.summation {
  color: var(--text-color);
  position: relative;
  padding-left: 20px;
  padding-top: 1px;
}

.summation .bolletje {
  width: 10px;
  height: 20px;
  left: 0;
  top: 5px;
  background-color: var(--primary-orange);
  border-radius: 20px;
  position: absolute;
}

.summation p:nth-of-type(2) {
  color: white;
  font-weight: 700;
}

.summation p:nth-of-type(3) {
  color: white;
  margin-bottom: 1rem;
}

.summation p.extra {
  font-style: italic;
}

/* MOBIEL */
/* ====== */
@media (max-width: 1150px) {
  footer {
    padding: 20px 80px;
  }
}

@media (max-width: 820px) {
  footer {
    justify-content: center;
    text-align: center;
    padding: 20px 50px;
  }
}

@media (max-width: 768px) {
  .preloader p:first-of-type {
    font-size: 0.9rem;
  }

  .preloader p:nth-of-type(2) {
    font-size: 1.4rem;
    letter-spacing: 0.25rem;
    line-height: 1.7rem;
  }

  .counter {
    font-size: 10rem;
    height: 11.5rem;
    right: 10px;
  }

  .dot {
    margin-left: -0.5rem;
  }

  .notfound {
    padding-left: 20px;
  }
}